<div class=" col-xs-12 large-bot-buffer">
  <!-- /.row -->
  <div class="row col-md-10 center-block">

    <h3 class="text-center">Please select the data you would like to retrieve</h3>
    <div class="col-md-12 center-block ">


      <div class="panel panel-default col-lg-6 small-margin-bot"
           data-ng-repeat="apiCall in vm.apiCalls">

        <div class="panel-body clearfix small-padding">
          <div class="col-xs-12">
            <div class="col-xs-6 form-control-static">
              <label>{{apiCall.name}}</label>
            </div>
            <div class="col-xs-1 pull-right form-control-static">
              <input type="checkbox" data-ng-click="apiCall.sel = true">
            </div>
            <div data-ng-show="apiCall.params" class="col-md-5 pull-right">
              <p for="value" class="col-md-2 control-label form-control-static ">{{apiCall.paramName}}</p>
              <div class="col-md-9 col-xs-offset-1 text-left">
                <input type="text" class="form-control " id="value"
                       data-ng-model="apiCall.paramValue" required>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 text-right small-margin-bottom">
        <label data-ng-show="vm.error" class="red">{{vm.error}}</label>
        <button type="submit" class="btn btn-success small-margin-bot" data-ng-click="vm.submit()">Download Selected</button>
        <button type="submit" class="btn btn-success small-margin-bot" data-ng-click="vm.submitAll()">Download All</button>
      </div>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
