<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">Tableau UNHCR API Connector</h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Please select the data you would like to retrieve
        </div>
        <div class="panel-body">
          <button class="btn-success" data-ng-click="vm.submit()">
            Download
          </button>
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
</div>
